<div class="chart-annual-pipeline">

    <div class="chart-annual-pipeline__first-text"> 
        <span *ngFor="let text of datasets.firstStep.text">{{text}}</span>
    </div>

    <div class="chart-annual-pipeline__last-text"> 
        <span *ngFor="let text of datasets.lastStep.text">{{text}}</span>
    </div>

    <div class="chart-annual-pipeline__map"> 
        
    </div>

    <div class="chart-annual-pipeline__pilot"> 
        <canvas> </canvas>
    </div>

    <div class="chart-annual-pipeline__mvp"> 
        <canvas> </canvas>
    </div>
</div>